{% load static %}
<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/news.css' %}">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- header -->
        <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <h1>WORLDOFGAMERS</h1>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>

                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>

                <!-- nav bar -->

                <div class = "nav-bar" id = "nav-bar">
                    <nav>
                        <ul>
                            <li><a href = "{% url 'home' %}">home</a></li>
                        </ul>
                    </nav>
                </div>

                <!--social icons -->

            </div>
        </header>

        <section class = "banner">
            <div class = "banner-main-content">
                <h2>GET THE WORLD'S LATEST GAMES NEWS</h2>
                <h3>World's Leading GAMES NEWS Portal</h3>

                <button>
                    <a href = "#"></a>
                </button>


            </div>

            <div class = "banner-sub-content">
                <div class = "hot-topic">
                    <img src = "{% static 'main/resources/images/banner1.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Valve is updating Half-Life, CS:GO, and more of its games to play better on the Steam Deck</h2>

                        <h3></h3>
                        <p>Which brave souls will dare play Dota 2 or Counter-Strike with a controller?</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'main/resources/images/banner2.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Stalker 2 developer cancels NFT plans following backlash</h2>

                        <h3></h3>
                        <p>The so-called "Stalker metaverse" lasted one day.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'main/resources/images/banner3.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Minecraft videos now have 1 trillion views on YouTube, but the most popular ones aren't actually made in Minecraft</h2>

                        <h3></h3>
                        <p>YouTube has shared stats on the most popular Minecraft videos since 2010 and there sure are a lot of music video parodies.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'main/resources/images/banner4.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>GTA Online premieres new Dre tracks and finally dials-down the phone calls</h2>

                        <h3></h3>
                        <p>Rockstar's favourite rap star.</p>
                        <a href = "#">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        
        <hr>

        <main>
            <section class = "main-container-left">
                <h2>Top Stories</h2>
                <div class = "container-top-left">
                    <article>
                        <img src = "{% static 'main/resources/images/top1.jpg' %}">

                        <div>
                            <h3>VRAM boosted RTX 30-series cards likely shelved, RTX 3090 Ti reportedly forging ahead</h3>

                            <p>Who needs VRAM when you can't get a GPU anyway.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>
                </div>

                <div class = "container-bottom-left">
                    <article>
                        <img src = "{% static 'main/resources/images/top2.jpg' %}">
                        <div>
                            <h3>This week: The Witcher Season 2</h3>
                            <p>Hmm, wind's howling.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>

                    <article>
                        <img src = "{% static 'main/resources/images/top3.jpg' %}">
                        <div>
                            <h3>Roblox faces new allegations of being unsafe for children</h3>
                            <p>The second part of an investigation into the popular sandbox gaming platform highlights a potentially dangerous lack of moderation.</p>

                            <a href = "#">Read More <span>>></span></a>
                        </div>
                    </article>
                </div>
            </section>

            <section class = "main-container-right">
                <h2>Latest Stories</h2>
                
                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Dead Cells' next DLC adds a Metroid Dread-style biome and throwable shark</h2>

                        <p>Plus a new final boss and ending.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'main/resources/images/last1.gif' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Nvidia is giving away 3 Matrix-inspired PCs, just to make me jealous</h2>

                        <p>Take the red pill.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'main/resources/images/last2.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Intel's upcoming i5 12400 could be the king of budget CPUs</h2>

                        <p>Strong performance, thermals and low power consumption on the cheap.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'main/resources/images/last3.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Get EVGA GeForce RTX 3060 Ti, 3060 XC, 2060, and 3090 graphics cards in these bundles</h2>

                        <p>Non optional extras to go with your GPU.

                        </p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'main/resources/images/last4.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Ubisoft's NFT scheme criticized as 'useless, costly, ecologically mortifying' by French trade union</h2>

                        <p>Solidaires Informatique, which represents workers at Ubisoft Paris, came out hard against Ubisoft's NFT plan.</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'main/resources/images/last5.jpg' %}">
                </article>
            </section>
        </main>

        <footer>
            <div class = "footer-container">
                <div class = "footer-left">
                    <h2>WORLDOFGAMERS</h2>
                    <p></p>
                </div>

                <div class = "footer-right">
                    <h2></h2>
                    <p></p>
    
                    <div>
                        <input type = "text" placeholder = "">
                        <i class = ></i>
                    </div>
                </div>
            </div>

            <p> &copy;</p>
        </footer>

        <script src="{% static 'main/js/news.js' %}" async defer></script>
    </body>
</html>